.images {
   width: 100%;
   height: auto;
}

/* -------------------- team members -------------------------------*/
.card_member:hover .member_icons_box {
   opacity: 1;
   visibility: visible;
}
.card_member:hover .social_member_icon {
   transform: translateX(0);
   -webkit-transform: translateX(0);
}
.member_icons_box {
   opacity: 0;
   visibility: hidden;
   transition: 0.3s;
   -webkit-transition: 0.3s;
}
.social_member_icon {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   -webkit-border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 0.3s;
   -webkit-transition: 0.3s;
   transform: translateX(40px);
   -webkit-transform: translateX(40px);
   color: #fff;
}
.social_member_icon:nth-child(1) {
   border: 1px solid;
   background-color: #3b5998;
}
.social_member_icon:nth-child(1):hover {
   background-color: #fff;
   color: #3b5998;
}

.social_member_icon:nth-child(2) {
   border: 1px solid #55acee;
   background-color: #55acee;
   transition-delay: 100ms;
}
.social_member_icon:nth-child(2):hover {
   background-color: #fff;
   color: #55acee;
}

.social_member_icon:nth-child(3) {
   border: 1px solid #c32aa3;
   background-color: #c32aa3;
   transition-delay: 200ms;
}
.social_member_icon:nth-child(3):hover {
   background-color: #fff;
   color: #c32aa3;
}
