@import url("./globals.css");


/* -------------------- product_types -------------------------- */
.product_types {
  cursor: pointer;
}
.product_types.active,
.product_types:hover {
  color: var(--color-browm);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transition: 0.2s ease-out;
  -webkit-transition: 0.2s ease-out;
}
